PORT=8089
MONGODB_URL=mongodb://localhost:27017/school-recommendation-db
SECRET_KEY=changethissecretkey
GMAIL_USER=ukeshmahara361@gmail.com
GMAIL_APP_PASSWORD=ciekwwysnitvvegs
FRONTEND_URL=http://localhost:3000
